flows (1).json
[{"id":"56690a5f.33acc4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f1206654.b3b4a8","type":"function","z":"56690a5f.33acc4","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["81b9561b.793cc8"]]},{"id":"5ad95c32.760694","type":"ui_form","z":"56690a5f.33acc4","name":"","label":"","group":"1eb267fe.61b0f8","order":3,"width":12,"height":2,"options":[{"label":"Try Techo-Bot","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":140,"wires":[["f1206654.b3b4a8"]]},{"id":"81b9561b.793cc8","type":"watson-conversation-v1","z":"56690a5f.33acc4","name":"chatbot","workspaceid":"4350d2df-064e-48ff-9b79-0dd33c818bac","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":380,"y":140,"wires":[["be9669c2.1bfb68"]]},{"id":"5ed1b66e.0c3218","type":"debug","z":"56690a5f.33acc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":80,"wires":[]},{"id":"be9669c2.1bfb68","type":"function","z":"56690a5f.33acc4","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["371243af.74c5cc","5ed1b66e.0c3218"]]},{"id":"371243af.74c5cc","type":"ui_text","z":"56690a5f.33acc4","group":"1eb267fe.61b0f8","order":2,"width":15,"height":5,"name":"","label":"Techo-Bot response","format":"{{msg.payload}}","layout":"col-center","x":680,"y":180,"wires":[]},{"id":"1eb267fe.61b0f8","type":"ui_group","z":"","name":"Hey this is Techo-Bot here to assist you regarding samsung products.","tab":"b08137c6.a1a518","order":1,"disp":true,"width":"27","collapse":false},{"id":"b08137c6.a1a518","type":"ui_tab","z":"","name":"Techo-Bot","icon":"dashboard","disabled":false,"hidden":false}]